{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>OCI - Gabaritos</title>
        <link rel=stylesheet href="{% static 'gabaritos/styles.css' %}">
        <script src="{% static 'gabaritos/script.js' %}"></script>
     </head>
     <body class="pagina-gabaritos">
        <header class="head-gabaritos">
            <div class="logo">
                <img class="logo-img" src="{% static 'gabaritos/img/oci-velas.png' %}">
                <img class="logo-txt" src="{% static 'gabaritos/img/oci-letras.png' %}">
            </div>
        </header>
        <main class="main-gabaritos main-add">
            <form id="form-principal" method="post" action="{% url 'add' %}">
                <!--superior-->
                <div class="linha-aluno">
                    <h1 class="titulo">Novo gabarito</h1>
                    <div>
                        <a class="btn btn-enviar" href="{% url 'index' %}">voltar</a>
                        <button type="submit" form="form-principal" class="btn btn-enviar">Enviar</button>
                    </div>
                </div>
                <div class="add-superior">
                    <div class="alinhar">
                        <p class="texto">Aluno</p> 
                        <input class="input-topo" type="text" id="Aluno" name="aluno">
                    </div>
                        
                    <div class="alinhar">
                        <p class="texto">Escola</p>
                        <input class="input-topo" type="text" id="Escola" name="escola">
                    </div>

                    <div class="alinhar">
                        <p class="texto">Inscrição</p>
                        <input class="input-topo" type="text" id="Inscricao" name="inscricao">
                    </div>
                </div>
                <!--esquerda inferior-->
                <div class="add-inferior">
                    <div class="add-inferior-esq">
                        <p class="titulo">Gabarito</p>
                        <div class="itens">

                            <div class="itens-col">
                                {% for i in "123456789" %}
                                <div class="questao-radio">
                                    <p class="texto">{{ i }}.</p>
                                    <label><input type="radio" name="questao{{ i }}" value="A">A</label>
                                    <label><input type="radio" name="questao{{ i }}" value="B">B</label>
                                    <label><input type="radio" name="questao{{ i }}" value="C">C</label>
                                    <label><input type="radio" name="questao{{ i }}" value="D">D</label>
                                    <label><input type="radio" name="questao{{ i }}" value="E">E</label>
                                </div>
                                {% endfor %}
                                
                            </div>
                            <div class="itens-col">
                                {% for i in "0123456789"|make_list %}
                                <div class="questao-radio">
                                    <p class="texto">{{ forloop.counter|add:10 }}.</p>
                                    <label><input type="radio" name="questao{{ forloop.counter|add:10 }}" value="A">A</label>
                                    <label><input type="radio" name="questao{{ forloop.counter|add:10 }}" value="B">B</label>
                                    <label><input type="radio" name="questao{{ forloop.counter|add:10 }}" value="C">C</label>
                                    <label><input type="radio" name="questao{{ forloop.counter|add:10 }}" value="D">D</label>
                                    <label><input type="radio" name="questao{{ forloop.counter|add:10 }}" value="E">E</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!--direita inferior-->
                    <div class="add-inferior-dir">
                        
                    </div>
                </div>
            </form>
            <form id="form-imagem" method="post" action="{% url 'processa-img' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="linha-upload">
                    <p class="titulo">...Ou insira uma imagem</p>
                    <button form="form-imagem" class="btn btn-upload" type="submit">Submeter</button>
                </div>
                <input hidden type="file" id="arquivo" name="imagem" accept="image/*" onchange="mostrarNomeArquivo(this)">
                <label for="arquivo">
                    <div class="input-img">
                        <img class="icon-img" src="{% static 'gabaritos/img/icone.png' %}">
                        <span id="nome-arquivo" class="nome-arquivo"></span>
                    </div>
                    
                </label>
            </form>
        </main>
     </body>
</html>
