{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>OCI - Gabaritos</title>
        <link rel="stylesheet" href="{% static 'gabaritos/styles.css' %}">
    </head>
    <body>
        <header>
            <img src="{% static 'gabaritos/img/oci-velas.png' %}" alt="Logo OCI">
            <img src="{% static 'gabaritos/img/oci-letras.png' %}" alt="texto OCI">
        </header>
        <main>
            <h1> Gabaritos </h1>
            <a href="{% url 'add' %}">adicionar</a>
            <ul>
                {% for participante in participantes %}
                    <li> {{ participante.nome }} </li>
                    <!--falta ainda os botões de editar e remover-->
                {% endfor %}
            </ul>
        </main>
    </body>
</html>
