{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>OCI - Gabaritos</title>
        <link rel="stylesheet" href="{% static 'gabaritos/styles.css' %}">
    </head>
    <body class="pagina-gabaritos">

        <header class="head-gabaritos">
            <div class="logo">
                <img class="logo-img" src="{% static 'gabaritos/img/oci-velas.png' %}" alt="Logo OCI">
                <img class="logo-txt" src="{% static 'gabaritos/img/oci-letras.png' %}" alt="texto OCI">
            </div>
        </header>

        <main class="main-gabaritos">
            <div class="main-superior">
                <h1 class="titulo"> Gabaritos </h1>
                <a class="btn btn-add" href="{% url 'add' %}">adicionar</a>
            </div>

            <div class="main-inferior">
                <table class="tabela">
                    <thead class="tabela-head">
                        <tr>
                            <th class="col-gabarito">Gabarito</th>
                            <th class="col-participante">Participante</th>
                            <th class="col-escola">Escola</th>
                            <th class="col-nota">Nota</th>
                            <th class="col-acoes">Ações</th>
                        </tr>
                    </thead>

                    <tbody class="tabela-body">
                        <!--Dados recebidos apareceram aqui-->
                        <tr>
                            <td class="cell-gabarito">1</td>
                            <td class="cell-participante">Joao</td>
                            <td class="cell-escola">Escola Nova</td>
                            <td class="cell-nota">20/20</td>
                            <td class="cell-acoes">
                                <a class="btn btn-edit">Editar</a>
                                <button class="btn btn-del">Remover</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-gabarito">1</td>
                            <td class="cell-participante">Joao</td>
                            <td class="cell-escola">Escola Nova</td>
                            <td class="cell-nota">20/20</td>
                            <td class="cell-acoes">
                                <a class="btn btn-edit">Editar</a>
                                <button class="btn btn-del">Remover</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>

