.head-gabaritos {
    background-color: black;
    height: 130px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    position: fixed;
    padding: 0 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-img, .logo-txt {
    height: 60%;
    width: auto;
    object-fit: contain;
}

.logo-img {
    max-height: 100px;
}

.pagina-gabaritos {
    margin: 0;
    min-height: 100vh;
    background-color: #2C2C2C;
    padding-top: 170px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 100px;
}

.titulo {
    font-weight: 800;
    color: white;
    font-size: 50px;
    letter-spacing: -0.5px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 14px 18px;
    border-radius: 18px;
    font-weight: 1000;
    font-size: 1.5rem;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #0062cc; 
    transform: translateY(-3px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    filter: brightness(105%); 
}

.btn:active {
    background-color: #0056b3; 
    transform: translateY(1px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    filter: brightness(95%); 
}

table {
    border-collapse: separate; 
    border-spacing: 0; 
}

thead {
    box-shadow: 0 2px 0 #6b6b6b;
}

th, td{
    padding: 25px 20px;
    vertical-align: center;
    color: white;
    position: relative; 
}

th {
    font-size: 32px;
}

td {
    font-size: 25px;
}

.main-inferior {
    padding: 0 100px;
}

.col-gabarito, .cell-gabarito {
    width: 200px;
}


.col-participante, .cell-participante {
    width: 450px;
}

.col-nota, .cell-nota {
    width: 200px;
}
.col-escola, .cell-escola {
    width: 350px;
}
.cell-acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
}

.btn-edit, .btn-del {
    display: flex;
    gap: 20px;
}

.col-acoes, .cell-acoes {
    width: 350px;
}

th:not(:last-child)::after, td:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2px;
    background: rgba(255, 255, 255, 0.3); 
}



.main-add {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}

.add-superior {
    font-weight: 800;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 30px;
    color: white;
    padding: 0 40px;
    
}

.add-inferior {
    display: flex;
    gap: 200px;
    width: 100%;
}

.add-inferior-esq, .add-inferior-dir {
    flex: 1;
}

.itens {
    display: flex;
    max-width: 1200px;
    background-color: #474747;
}

.itens-col {
    flex: 1;
}

input[type="text"] {
    background-color: #474747;
    border: none;
    height: 40px;
    width: 800px;
    font-size: 18px;
    padding: 0 15px;
    color:white;
}

.alinhar {
    display: flex;
    align-items: center;
    gap: 30px;
}

.input-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px; 
    width: 100%;
    background-color: #474747;
    cursor: pointer;
}


label[for="arquivo"] {
    cursor: pointer;
}


.itens-col form {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.itens-col .texto {
    min-width: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin: 0;
    
}

.itens-col label {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.itens-col input[type="radio"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.itens, .input-img{
    border-radius: 5px;
    width: 800px;
    height: 700px;
}

.linha-aluno {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 70px;
}

.btn-enviar {
    margin-left: auto;
    margin-right: 100px; 
}

.linha-upload {
    display: flex;
    align-items: center;
    gap: 50px; 
    width: 100%;
}

.btn-upload {
    flex-shrink: 0;
}
